*{
    font-family: "Adobe 繁黑體 Std B","DIN Alternate Bold","for the love of hate";
    position: relative;
  /*   border: 1px solid #000; */
    color: #455046;
    box-sizing: border-box;
    vertical-align: top;
      
    
  }
  h1,h3{
    color: #FFF;
    width: 100%;
    margin:0;
  }
  h1{
    font-size: 30px;
    margin-bottom: 5px;
  }
  h3{
    font-size: 14px;
  }
  .resume{
    width: 595px;height: 841px;
    border: 1px solid #455046;
    margin: 0px auto;
  }
  .header{
    width: 100%;height: 140px;
    background-color: #4E4547;
  }
  .header:after{
    content:'';
    position: absolute;
    bottom: -9px;
    width: 100%;height: 5px;
    background-color: #4E4547;
  }
  .big-title{
    position: absolute;
    bottom: 0px;left: 215px;
    padding: 15px;
  }
  .info{
    position: absolute;
    top: 0; left: 15px;
    width: 200px; height: 100%;
    background-color: #82C4A8;
    text-align:center;
  }
  .photo{
    width: 130px;height: 130px;
    margin: auto;
    margin-top: 30px;
    border-radius: 100%;
    background-color: #fff;
  }
  .info-content{
    margin: 20px 0;
    width: 100%;
  }
  .info-block{
    padding: 8px 10px;
    text-align: left;
    width: 100%;
  }
  .icon{
    display: inline-block;
    width: 30px;height: 30px;
    background-color: #455046;
    border-radius:100%;
  }
  .info-right{
    display: inline-block;
    text-align: left;
  }
  .info-top{
    color: #FFF;
    font-size: 10px;
  }
  .info-bottom{
    font-size: 13px;
  }
  .info-title{
    width: 100%;height: 30px;
    text-align: left;
  }
  .info-title>div{
    position:absolute;
    right: 0;
    width: 160px;
    padding: 2px 5px;
    border-bottom: 3px solid ;
    text-align: left;
  }
  .container{
    top: 15px;left: 215px;
    width: 380px;height: 670px;
  }
  .content{
    padding: 10px 15px;
  }
  .title{
    display: inline-block;
    padding: 2px 8px;
    border: 2px solid #455046;
  }
  .content-block{
    padding-top: 10px;
    font-size: 13px;
  }
  .profile-top{
    margin-bottom: 20px;
  }
  .profile-item{
    display: inline-block;
    width:24%;
    text-align: center;
  }
  .circle{
    width: 70px;height: 70px;
    border-radius:100%;
    background-color: rgba(78,69,71,0.1);
    margin: auto;
    overflow: hidden;
  }
  .square1,.square2,.square3,.square4{
    position: absolute;
    width: 50%;height: 50%;
    background-color: #82C4A8;
  }
  .center{
    top: 5px; left: 5px;
    width: 60px; height: 60px;
    background-color: #fff;
    border-radius: 100%;
  }
  .center:after{
    content:'';
    display: inline-block;
    padding-bottom: 60px;
    vertical-align: middle;
  }
  .word{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    color: #82C4A8;
  }
  
  #circle1 > .square2{
    transform: translate(0%,100%);
  }
  #circle1 > .square3{
    transform: translate(100%,100%);
  }
  #circle1 > .square4{
    transform: translate(100%,0%) rotate(20deg);
    transform-origin: bottom left;
  }
  #circle2 > .square2{
    transform: translate(0%,100%);
  }
  #circle2 > .square3{
    transform: translate(100%,100%);
  }
  #circle3 > .square2{
    transform: translate(0%,100%);
  }
  #circle3 > .square3{
    transform: translate(100%,100%);
  }
  #circle3 > .square4{
    transform: translate(100%,0%) rotate(60deg);
    transform-origin: bottom left;
  }
  #circle4 > .square2{
    transform: translate(0%,100%);
  }
  #circle4 > .square3{
    transform: translate(100%,100%) rotate(45deg);
    transform-origin: top left;
  }
  .pro-left, .pro-right{
    display: inline-block;
    width: 49%;
  }
  .pro-block{
    padding: 1px 5px;
  }
  .pro-main, .pro-sub{
    display: inline-block;
    vertical-align: middle;
  }
  .pro-main{
    font-size: 12px;
    width: 45%;
  }
  .pro-sub{
    width: 50%;height: 7px;
    background-color: rgba(78,69,71,0.1);
    overflow: hidden;
    border-radius: 7px;
  }
  .pro-sub>div{
    width: 0; height: 7px;
    border-radius: 7px;
    background-color: #82C4A8;
  }
  #pro-1, #pro-3, #pro-6, #pro-8{
    width: 100%;
  }
  #pro-2, #pro-5{
    width: 80%;
  }
  #pro-4,#pro-10{
    width: 60%;
  }
  #pro-7, #pro-9{
    width: 70%;
  }
  .edu-block{
    padding: 5px;
  }
  .year, .dot, .edu-right{
    display: inline-block;
  }
  .year{
    padding: 1px 5px;
    width: 36px;
    background-color: #85C6A8;
    font-size: 10px;
    color: #FFFFFF;
  }
  .dot{
    padding: 5px 10px;
  }
  .dot-dot{
    display: inline-block;
    width: 7px;height: 7px;
    border-radius: 8px;
    background-color: #4E4547;
  }
  .line{
    position: absolute;
    top: 7px; left: 12px;
    width: 3px; height: 70px;
    background-color: #85C6A8;
    z-index: -1;
  }
  .school{
    color: #85C6A8;
  }
  .language-left, .language-right{
    display:inline-block;
  }
  .language-left{
    padding: 10px 5px;
    font-size: 12px;
  }
  .language-name{
    height: 24px;
  }
  .language-right{
    width: 220px;height: 150px;
    border-left: 2px solid #455046;
    border-bottom: 2px solid #455046;
  }
  .gray1, .gray2, .gray3, .gray4, .gray5, .gray6{
    position: absolute;
    width: 50px; height: 150px;
    background-color: rgba(78,69,71,0.08);
  }
  .gray2{
    left: 100px;
  }
  .gray3{
    left: 100px;
  }
  .gray4{
    left: 100px;
  }
  .gray5{
    left: 100px;
  }
  .gray6{
    left: 100px;
  }
  .language-block{
  }
  .bar1, .bar2, .bar3, .bar4, .bar5, .bar6{
    width: 200px;height: 5px;
    margin: 16px 0;
    background-color: #82C4A8;
  }
  .bar2{
    width: 150px;
  }
  .bar3{
    width: 150px;
  }
  .bar4{
    width: 150px;
  }
  .bar5{
    width: 150px;
  }
  .bar6{
    width: 150px;
  }
  .language-standard{
    padding: 5px 0;
  }
  .standard1, .standard2, .standard3, .standard4{
    position: absolute;
    font-size: 10px;
    color: #85C6A8;
    transform: translate(-50%,0);
  }
  .standard1{
    left:50px;
  }
  .standard2{
    left:100px;
  }
  .standard3{
    left:150px;
  }
  .standard4{
    left:200px;
  }



